################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DFC.Digital.Tools/DFC.Digital.Tools.Data/obj
/DFC.Digital.Tools/.vs/DFC.Digital.Tools/v16
/DFC.Digital.Tools/.vs/DFC.Digital.Tools/DesignTimeBuild
/DFC.Digital.Tools/DFC.Digital.Tools.Service.GovUkNotify/obj
